# Environments
venv/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# ChromaDB
uw_chroma_db/

# Large JSON / Data Files
courses.json
rag_documents.jsonl

# Scratch scripts
test_query.py
test_sq.py
